// NAVIGATION //
.makie-nav {
	> li > a {
		background-color: @brand-blue;
		color: #ffffff;
		border-radius: 6px;
		padding-top: 10px;
		padding-bottom: 10px;

	}
}




// FOOTER //
.footer-border {
	width: 100%;
	border-top: 2px dashed #eeeeee;
	padding-bottom: 3%;
	margin-top: 6%;
}