.homepage-jumbotron {
	background: url('/images/homepage/jumbotron/bg.jpg') repeat-x;
	padding-top: 87px;
	height: 400px;
}


@media (min-width: @screen-sm-min) {

	.homepage-image {
	/*background: url('/images/homepage/jumbotron/homepage-image-3.png');*/
	width: 750px;
	height: 313px;
	margin-left: auto;
	margin-right: auto;
	}
}


.homepage-image {
	width: 750px;
	height: 313px;
	margin-left: auto;
	margin-right: auto;
}


// MAKIEGRAMS //











// TESTIMONIALS //
@media (max-width: @screen-sm-max) {

	.testimonials {
		margin-top: 40px;
	}
  }

.testimonialsbg {
	background: powderblue;
	border-radius: 10px;
	margin-top: 5em;
	margin-left: 10px;
	margin-right: 10px;
	padding: 20px;

}